<div class="tasks-container">
  <div class="tasks-container__actions">
    <app-tasks-filter
      (onModelChange)="updateTasksList($event)"
    />
    <button
      matButton="tonal"
      (click)="createNewTask()"
    >
      New task
    </button>
  </div>

  @if (loading | async) {
    <div class="tasks-container__loader">
      <mat-spinner />
    </div>
  } @else if (error | async) {
    <app-error-card class="task-container__error-card" [error]="error.getValue()" />
  } @else {
    <app-tasks-list
      [tasks]="tasks"
      (onComplete)="updateTask($event)"
    />
  }
</div>


