.tasks-container {
  margin-top: 20px;
  width: 500px;

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__error-card {
    margin-bottom: 10px;
  }
}
